name: Build Snap

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Snap
      uses: snapcore/action-build@v1
      with:
        snapcraft-args: --use-lxd
        
    - name: Upload Snap
      uses: actions/upload-artifact@v4
      with:
        name: cogny-snap
        path: "*.snap"
